#playlist_main  {
  width: 86%;
  padding: 35px 2%;
  background-image: url("https://media.istockphoto.com/vectors/music-notes-line-icon-watercolor-background-vector-id995038402?b=1&k=20&m=995038402&s=170667a&w=0&h=O4gjJMSpMEtKa1hrP9ydBsVHWf-7wYku70uDDxFQ6Lc=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
#playlist_head {
  font-size: 35px;
  color: #104d81;
  font-weight: bolder;
}
#filterDiv{
    display: flex;
    float: right;
    margin-top:-30px;
}
#filterByArtist{
    border: 3px solid #104d81;
    padding: 5px 10px;
    background-color: rgb(220, 246, 255);
    color: #104d81;
    transition: 0.5s;
    font-size: 16px;
    border-radius:20px;
}
#filterByArtist:hover{
    background-color:white;
}
#playlist_sec_div {
    width: 70%;
  margin: 50px auto;
  max-height: 500px;
  overflow-y: scroll;
  transition: 0.5s;
}
#playlist_sec_div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.playlist_song_div {
  border-bottom: 3px solid rgb(221, 221, 221);
  backdrop-filter: blur(12px);
  padding: 1%;
  height: 125px;
  transition: 0.7s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  transition: 0.8s;
}
.playlist_song_div:hover{
   background-color: #a3d6ff7a;
}
.playlist_img {
  width: 20%;
  height: 110px;
  
}
.playlist_song_name{
    margin-top:10px;
    width: 30%;
}
.playlist_song_artist{
    margin-top:10px;
    width: 30%;
   
}
.noData_div{
    width: 70%;
    margin: 50px auto;
    max-height: 500px;
    overflow-y: scroll;
    transition: 0.5s;
}
#noData_img{
    width: 70%;
    margin: 0 15% ;
}